<div id="note-entry-{{id}}" class="flex-item-flow-column note-entry">
    <div class="flex-item-flow-row">
        <label class="flex-item-column-1">{{dueDate}}</label>
        <lable class="flex-item-column-end">{{title}}</lable>
        <div class="flex-item-column-1">
            <input type="checkbox" id="input-set-finished" note-id="{{id}}" value="finished" {{attribute 'checked'
                                                                                                         finished
                                                                                                         true}} {{attribute
                    'disabled' finished true}}>
            <label for="input-set-finished">Finished</label>
        </div>
    </div>
    <div class="flex-item-flow-row">
        <label class="flex-item-column-1">{{priority}}</label>
        <label class="flex-item-column-end">{{description}}</label>
        <button id="button-edit-note" note-id="{{id}}" class="flex-item-column-1" {{attribute 'disabled' finished
                                                                                                    true}}>Edit
        </button>
    </div>
</div>