<div id="note-entry-{{id}}" class="flex-item-flow-column note-entry">
    <div class="flex-item-flow-row">
        <div class="flex-item-column-15">
            <label class="flex-item-column-15">{{dueDate}}</label>
        </div>
        <div class="flex-item-column-grow">
            <label>{{title}}</label>
        </div>
        <div class="flex-item-column-15 flex-item-flow-row flex-item-justify-end">
            <input type="checkbox" id="input-set-finished" note-id="{{id}}" value="finished" {{attribute 'checked'
                                                                                                         finished
                                                                                                         true}} {{attribute
                    'disabled' finished true}}>
            <label for="input-set-finished" id="label-set-finished" note-id="{{id}}">Finished</label>
        </div>
    </div>
    <div class="flex-item-flow-row">
        <div class="flex-item-column-15">
            <label>{{priority}}</label>
        </div>
        <textarea type="text" class="flex-item-column-grow" maxlength="1000"
                  readonly>{{description}}</textarea>
        <div class="flex-item-column-15 flex-item-flow-row flex-item-justify-end">
            <button id="button-edit-note" note-id="{{id}}" {{attribute 'disabled' finished
                                                                       true}}>Edit
            </button>
        </div>
    </div>
</div>